<div class="mt-7">
  <div>
    <div class="flex flex-wrap justify-content-center gap-3">
      <p-dropdown
        [style]="{ 'min-width': '18rem' }"
        [options]="projects"
        [(ngModel)]="selectedProject"
        optionLabel="name"
        [showClear]="true"
        (onChange)="onChangeProject()"
        placeholder="Select a Project"
        [disabled]="!canSelectProject"
      ></p-dropdown>
      <p-dropdown
        [style]="{ 'min-width': '18rem' }"
        [options]="tasks"
        [(ngModel)]="selectedTask"
        optionLabel="name"
        [showClear]="true"
        placeholder="Select a Task"
        (onChange)="onChangeTask()"
        [disabled]="!canSelectTask"
      ></p-dropdown>
    </div>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-center mt-8">
    <p class="text-10xl">{{ display }}</p>
  </div>

  <div class="flex flex-wrap align-items-center justify-content-center mt-7">
    <p-button
      [disabled]="!canStart"
      styleClass="mr-2"
      pRipple
      label="Start"
      severity="success"
      (click)="startTimer()"
      icon="pi pi-play"
    ></p-button>
    <p-button
      [disabled]="!canStop"
      styleClass="mr-2"
      pRipple
      label="Stop"
      severity="danger"
      (click)="stopTimer()"
      icon="pi pi-stop"
    ></p-button>
  </div>

  <div class="mt-4">
    <p-treeTable
      [value]="treeNode"
      [scrollable]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Task Name</th>
          <th>Project Name</th>
          <th>Total Duration</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Record Type</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode">
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <p-tag
              [style]="{
                background: rowData.taskColor,
                color: getTextColor(rowData.taskColor)
              }"
              [value]="rowData.taskName"
            ></p-tag>
          </td>
          <td>
            <p-tag
              [style]="{
                background: rowData.projectColor,
                color: getTextColor(rowData.projectColor)
              }"
              [value]="rowData.projectName"
            ></p-tag>
          </td>
          <td>{{ rowData.totalDuration | durationTransform }}</td>
          <td>{{ rowData.startTime | dateTransform }}</td>
          <td>{{ rowData.endTime | dateTransform }}</td>
          <td>{{ rowData.record_type }}</td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
